<a href="/actor/{{this.id}}" class="fl w-100 w-50-m w-25-l" loading="lazy" itemprop="itemListElement" itemscope
    itemtype="https://schema.org/Actor">

    <div class="aspect-ratio aspect-ratio--3x4">
        <figure loading="lazy">

            <picture loading="lazy" class="card-img-top" alt="{{name}}" itemprop="image">

                <source srcset="https://image.tmdb.org/t/p/w185/{{ profile_path }} 200w" sizes="(max-width: 639px) 100vw" width="185" height="278">
                <source srcset="https://image.tmdb.org/t/p/w342/{{ profile_path }} 650w" sizes="(min-width: 640px) and (max-width: 1023px) 50vw"
                    width="185" height="278">
                <img src="https://image.tmdb.org/t/p/w500/{{ profile_path }}" loading="lazy" alt="{{name}}" width="500" height="750"
                    width="100%" height="100%" itemprop="image" class="card-img-top">

            </picture>

            <figcaption>
                <span class="title">
                    <span class="f6 link dim br-pill w-100 tc pv2 mb2 dib white bg-mid-gray">Actor:
                        <span class="label">
                            {{name}}
                        </span>
                    </span>
                    <span class="f6 link dim br-pill w-100 dib fw1 pa1 white bg-gray">Personaje:
                        <span class="label">
                            {{character}}
                        </span>
                    </span>
                </span>
            </figcaption>
        </figure>

    </div>
</a>