<a href="{{url}}" target="_blank" rel="nofollow" class="fl w-50 w-20-m w-20-l" loading="lazy" itemprop="itemListElement"
    itemscope itemtype="https://schema.org/Actor">

    <div class="aspect-ratio aspect-ratio--3x4">
        <figure loading="lazy">

            <img loading="lazy" class="card-img-top" src="{{image}}" alt="{{name}}" itemprop="image" width="150px" height="150px">

            <figcaption>
                <span class="title">
                    <span class="f6 link dim br-pill w-100 dib fw1 pa1 white bg-gray">
                        <span class="label">
                            {{price}} {{ currency }}
                        </span>
                    </span>
                </span>
            </figcaption>
        </figure>

    </div>
</a>